@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bts-purple: #5D2492;
  --bts-dark: #0f0518;
  --bts-light: #f3e8ff;
  --bts-accent: #d8b4fe;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: var(--bts-light);
  background-color: var(--bts-dark);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 700;
}

a {
  font-weight: 500;
  color: var(--bts-accent);
  text-decoration: inherit;
}

a:hover {
  color: #bd93f9;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bts-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--bts-purple);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bts-accent);
}